@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');

html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
   scroll-behavior: smooth;
}

body {
   color: $big-stone;
   background: $white;
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   border: 16px solid $big-stone;
}

// .article {
//    margin: 8rem 8rem auto 8rem;
//    display: grid;
//    grid-column-gap: 1rem;
//    grid-template-columns: 1.5fr 1fr 1fr;
//    grid-template-areas: "head head head"
//       "k11 k21 k31"
//       "k12 k22 k32"
//       "k13 k23 k33";


//    @media only screen and (max-width: 812px) {
//       grid-template-columns: 1fr;
//       grid-template-areas: "head"
//          "k11"
//          "k12"
//          "k13"
//          "k14"
//          "k15"
//          "k16"
//          "k17"
//          "k18"
//          "k19"
//       ;
//       // }

//       // @media only screen and (max-width: 812px) {
//       margin: 4rem 1rem;
//       align-items: center;
//    }



//    &__header {
//       font-weight: 600;
//       font-size: 1.5rem;
//       line-height: 2rem;
//       grid-area: head;
//       border-bottom: 1px black solid;
//       margin-bottom: 8rem;

//       @media only screen and (max-width: 812px) {
//          margin-bottom: 1rem;
//       }
//    }

//    &__board1 {

//       font-weight: 600;
//       font-size: 1.5rem;
//       line-height: 2rem;
//       grid-area: k11;

//       &--1 {
//          grid-area: k21;

//          @media only screen and (max-width: 812px) {
//             grid-area: k12;
//             margin-bottom: 0;
//          }
//       }

//       &--2 {
//          grid-area: k31;

//          @media only screen and (max-width: 812px) {
//             grid-area: k13;
//             margin-top: 0;
//          }
//       }

//    }

//    &__board2 {

//       font-weight: 600;
//       font-size: 1.5rem;
//       line-height: 2rem;
//       grid-area: k12;

//       @media only screen and (max-width: 812px) {
//          grid-area: k14;
//          margin-bottom: 0;
//          margin-top: 2rem;
//       }

//       &--1 {
//          grid-area: k22;

//          @media only screen and (max-width: 812px) {
//             grid-area: k15;
//             margin-bottom: 0;
//          }
//       }

//       &--2 {
//          grid-area: k32;

//          @media only screen and (max-width: 812px) {
//             grid-area: k16;
//             margin-top: 0;
//          }
//       }

//    }

//    &__board3 {

//       font-weight: 600;
//       font-size: 1.5rem;
//       line-height: 2rem;
//       grid-area: k13;

//       @media only screen and (max-width: 812px) {
//          grid-area: k17;
//          margin-bottom: 0;
//          margin-top: 2rem;
//       }

//       &--1 {
//          grid-area: k23;

//          @media only screen and (max-width: 812px) {
//             grid-area: k18;
//             margin-bottom: 0;
//          }
//       }

//       &--2 {
//          grid-area: k33;

//          @media only screen and (max-width: 812px) {
//             grid-area: k19;
//             margin-top: 0;
//          }
//       }

//    }

//    &__linia1 {
//       width: 80px;
//       height: 4px;
//       left: 128px;
//       top: 1072px;

//       /* Secondary - Green */

//       background: #06C847;
//       border-radius: 8px;
//       transform: matrix(1, 0, 0, -1, 0, 0);
//    }

//    &__linia2 {
//       width: 80px;
//       height: 4px;
//       left: 128px;
//       top: 1072px;

//       /* Secondary - Green */

//       background: #653CAD;
//       ;
//       border-radius: 8px;
//       transform: matrix(1, 0, 0, -1, 0, 0);
//    }

//    &__linia3 {
//       width: 80px;
//       height: 4px;
//       left: 128px;
//       top: 1784px;

//       /* Secondary - Gold */

//       background: #2251CC;
//       border-radius: 8px;
//       transform: matrix(1, 0, 0, -1, 0, 0);

//    }


//    &__li1 {
//       list-style: none;

//       &::before {
//          content: ''; //musi  być nawet pusty
//          display: inline-block;
//          width: 8px;
//          height: 8px;
//          border-radius: 50%;
//          background: #06C847;
//          margin-right: 5px;
//       }
//    }

//    &__li2 {
//       list-style: none;

//       &::before {
//          content: ''; //musi  być nawet pusty
//          display: inline-block;
//          width: 8px;
//          height: 8px;
//          border-radius: 50%;
//          background: #653CAD;
//          margin-right: 5px;
//       }
//    }

//    &__li3 {
//       list-style: none;

//       &::before {
//          content: ''; //musi  być nawet pusty
//          display: inline-block;
//          width: 8px;
//          height: 8px;
//          border-radius: 50%;
//          background: #2251CC;
//          margin-right: 5px;
//       }
//    }

// }

// .hero {
//    margin: 8rem auto auto 8rem;
//    display: flex;
//    flex-direction: column;

//    &__description {
//       max-width: 50rem;
//       font-weight: 300;
//       font-size: 1.25rem;
//       line-height: 2.25rem;

//       @media only screen and (max-width: 812px) {
//          font-size: 0.75rem;
//          line-height: 1.25rem;
//       }
//    }

//    &__footer {
//       margin-top: 80px;
//       color: blue;
//       width: 170px;
//    }

//    &__header {
//       max-width: 50rem;
//       font-weight: 600;
//       font-size: 2.5rem;
//       line-height: 3.5rem;

//       @media only screen and (max-width: 812px) {
//          font-size: 1.5rem;
//          line-height: 2.5rem;
//       }
//    }

//    &__myHref {
//       // font-size: 1.4rem;
//       font-weight: 600;
//       text-decoration: none;
//       color: #2251CC;
//    }

//    &__photo {
//       max-width: 150px;
//       width: 100%;
//       height: 150px;
//       border-radius: 50%;
//       margin-right: 32px;
//       margin-bottom: 32px;

//       @media only screen and (max-width: 812px) {
//          justify-content: center;
//          max-width: 100px;
//          width: 100%;
//          height: 100px;
//          border-radius: 50%;
//          margin-right: 32px;
//          margin-bottom: 32px;
//       }

//    }

//    @media only screen and (max-width: 812px) {
//       margin: 4rem 1rem;
//       align-items: center;

//    }


// }

// .proj {
//    margin: 1rem 8rem auto 8rem;
//    padding: 2rem 0 0 0;
//    // display: flex;
//    // flex-direction: column;
//    background: #F5F7FA;

//    &__head {
//       margin-top: 50px;
//    }

//    &__desc {
//       max-width: 25rem;
//       font-weight: 300;
//       font-size: 0.9rem;
//       line-height: 2.25rem;

//       @media only screen and (max-width: 812px) {
//          font-size: 0.75rem;
//          line-height: 1.25rem;
//       }
//    }

//    &__item {
//       background: white;
//       margin-top: 32px;
//       display: grid;
//       grid-template-rows: 200px 1fr;
//       &-header {
//          padding-left: 16px;
//       }
//       &-links {
//          background: #F5F7FA;
//          display: flex;
//          justify-content: center;
//          align-items: center;
//       }
//    }
// }

// .code {
//    width: 50px;
//    text-decoration: none;
// }
// .demo {
//    width: 50px;
//    text-decoration: none;
// }

// .button {
//    width:20px;
// }

// .proj__container {
//    display:grid;
//    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
//    grid-gap:100px 50px;
// }